.novasenha_wrapper{
    width:100%;
    height:540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap:20px;
    position: relative;
}

.novasenha_wrapper h1{
    font-family:'Bungee', sans-serif;
    color:#000000;
}

.form_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}