.product_page_wrapper{
    width:100%;
    display: flex;
    gap:20px;
    padding:20px;   
}

.product_images_container{
    width:610px;
    height:450px;
    border:1px solid black;
    border-radius: 5px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main_image{
    width:270px;
    height:300px;
    border:1px solid black;
    border-radius: 5px;
}

.image_menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:10px;
}

.image_menu_btn{
    width:70px;
    height:78px;    
    cursor: pointer;
    border:1px solid black;
    border-radius: 5px;
}

.product_info_container{
    width:610px;
    border:1px solid black;
    border-radius: 5px;
    padding:10px;
}
    
.size_radioinput_container{
    display: flex;
    justify-content: space-around;
}