/* .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container ul{
    display: flex;
    justify-content: center;
    gap:10px;
    list-style: none;
} */