.navbar_wrapper{
    background-color:#ffffff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0 50px 0 50px;
    flex-wrap: wrap;
    height:73px;
}

.logo{
    width:120px;
    height:60px;
}

.list{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:10px;
    color: #000000;
}

.list_nav_options .list{
    gap: 80px;
    margin-left: 19%;
}

.list_item{
    font-family:'Bungee', sans-serif;
    color: #000000;
}
