ul a,.profile_menu p a{
    text-decoration: none;
}

.profile_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding:30px 30px 30px 30px ;
    position: absolute;
    top: 59px;
    z-index: 4;
    background-color: #fff;
    border-radius: -5px -5px 5px 5px;
    border: 4px solid #cab982;
    border-top: 0;
}

.profile_menu p{
    font-family:'Bungee', sans-serif;
    color: #000000;
    cursor: pointer;
    margin-bottom: 0;
}